@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
</head>
<body>
    <div class="main-body">
        <div class="container">
            <!--right coloumn starts-->
            <!-- <div class="right-column"> -->
            <div class="content content-container">
                <!--form wrapper starts-->
                <div class="pushTop20" style="height:400px">
                    <div class="pushTop250">
                        <div class="width47 fl accessDeniedAlign">
                            <img src="~/Content/DataTables/images/AccessDenied.jpg" width="40" height="40" alt="" class="fr accessDeniedImgresige">
                        </div>
                        <div class="width47 fr">
                            <label class="width47 fl leftmargin pushTop30">
                                <h1 class="AccessDenied">Access Denied</h1>
                            </label>
                        </div>
                        <div class="width47 fr">
                            <label class="width47 fl leftmargin pushBottom10">You are not authorized to view this page</label>
                        </div>
                    </div>


                </div>
                <!--form wrapper ends-->
            </div>
            <!-- </div> -->
            <!--right coloumn ends-->
        </div>
    </div>
</body>
<!--maincontent ends-->
</html>